<!DOCTYPE html>

<!-- Mensaje para confirmar y agradecer al usuario por reservar la cita de servicio -->

<html lang="es">
    <head>
        <title><%- titulo %></title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
         <!-- Lista de archivos y enlaces a utilizar por el sitio web -->
         <%- include('partials/listaEnlacesUno') %>

        <!-- Utilizando estilos css personalizados -->
        <link rel="stylesheet" type="text/css" href="css/msjCorreo.css">
    </head>

    <!-- Sección principal -->
    <body class="fondoCorreo vh-100">
        <div class="colorFondo vh-100">
            
            <!-- Estructura del mensaje de confirmación -->
            <%- include('partials/mensajeCorreo') %>
            
        </div>
        
        <!-- Lista de archivos y enlaces a utilizar por el sitio web -->
        <%- include('partials/listaEnlacesDos') %>
    </body>
</html>