
<!-- Enlace a formulario para citas -->
<div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex flex-column justify-content-center ml-0">
    <h4 class="pt-4 text-center" data-aos="fade-left" data-aos-duration="2000">Programa en línea una cita con nosotros</h4>
    <p class="text-secondary text-center pb-4 mb-2" data-aos="fade-right" data-aos-duration="2000">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra</p>
    
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
        <a href="contacto.php" class="btn btn-primary my-4" role="button" aria-pressed="true">Ir&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
    </div> 
</div>
