
<!-- Horario de servicio -->
<div class="horario col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex flex-row justify-content-center pb-3">
    <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 d-flex flex-column">
        <h3 class="text-black-50 my-3">Horario de servicio:</h3>
        <ul class="list-group list-group-horizontal justify-content-between">
            <li class="list-group-item bg-light border-0 p-0 pb-1">Lunes</li>
            <li class="list-group-item bg-light border-0 p-0 pb-1">7:30 a.m. - 5:30 p.m.</li>
        </ul>
        <ul class="list-group list-group-horizontal justify-content-between">
            <li class="list-group-item bg-light border-0 p-0 pb-1">Martes</li>
            <li class="list-group-item bg-light border-0 p-0 pb-1">7:30 a.m. - 5:30 p.m.</li>
        </ul>
        <ul class="list-group list-group-horizontal justify-content-between">
            <li class="list-group-item bg-light border-0 p-0 pb-1">Miércoles</li>
            <li class="list-group-item bg-light border-0 p-0 pb-1">7:30 a.m. - 5:30 p.m.</li>
        </ul>
        <ul class="list-group list-group-horizontal justify-content-between">
            <li class="list-group-item bg-light border-0 p-0 pb-1">Jueves</li>
            <li class="list-group-item bg-light border-0 p-0 pb-1">7:30 a.m. - 5:30 p.m.</li>
        </ul>
        <ul class="list-group list-group-horizontal justify-content-between">
            <li class="list-group-item bg-light border-0 p-0 pb-1">Viernes</li>
            <li class="list-group-item bg-light border-0 p-0 pb-1">7:30 a.m. - 5:30 p.m.</li>
        </ul>
        <ul class="list-group list-group-horizontal justify-content-between">
            <li class="list-group-item bg-light border-0 p-0 pb-1">Sábado</li>
            <li class="list-group-item bg-light border-0 p-0 pb-1">7:30 a.m. - 5:30 p.m.</li>
        </ul>
        <ul class="list-group list-group-horizontal justify-content-between">
            <li class="list-group-item bg-light border-0 p-0 pb-1">Domingo</li>
            <li class="list-group-item bg-light border-0 p-0 pb-1">Cerrado</li>
        </ul>
        <div class="d-none d-md-block pt-5">
            <img src="imagenes/imgContacto_1.png" class="img-fluid" alt="" />
        </div>
    </div>
</div>