
<!-- Lista de servicios -->                                
<div class="row border-dark-50 border-top mt-3">
    <div class="col-11 col-sm-11 col-md-12 col-lg-12 col-xl-12 mt-2">
        <h4 class="mb-0 text-black-50 p-4">Además le ofrecemos:</h4>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-11 col-sm-11 col-md-6 col-lg-6 col-xl-3">
        <div class="d-flex flex-row align-items-center p-3">
            <img src="imagenes/iconoContacto_1.png" class="img-fluid w-25 mr-3">
            <div>
                <h6 class="mb-1 text-uppercase"><small class="font-weight-bold">Servicio de asistencia:</small></h6>
                <p class="mb-2 text-secondary text-justify">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</p>
            </div>
        </div>                    
    </div> 
    <div class="col-11 col-sm-11 col-md-6 col-lg-6 col-xl-3">
        <div class="d-flex flex-row align-items-center p-3">
            <img src="imagenes/iconoContacto_2.png" class="img-fluid w-25 mr-3">
            <div>
                <h6 class="mb-1 text-uppercase"><small class="font-weight-bold">Trámites con su aseguradora:</small></h6>
                <p class="mb-2 text-secondary text-justify">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</p>
            </div>
        </div>                    
    </div>
    <div class="col-11 col-sm-11 col-md-6 col-lg-6 col-xl-3">
        <div class="d-flex flex-row align-items-center p-3">
            <img src="imagenes/iconoContacto_3.png" class="img-fluid w-25 mr-3">
            <div>
                <h6 class="mb-1 text-uppercase"><small class="font-weight-bold">Calidad en cada trabajo:</small></h6>
                <p class="mb-2 text-secondary text-justify">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</p>
            </div>
        </div>                    
    </div>
    <div class="col-11 col-sm-11 col-md-6 col-lg-6 col-xl-3">
        <div class="d-flex flex-row align-items-center p-3">
            <img src="imagenes/iconoContacto_4.png" class="img-fluid w-25 mr-3">
            <div>
                <h6 class="mb-1 text-uppercase"><small class="font-weight-bold">Personal especializado:</small></h6>
                <p class="mb-2 text-secondary text-justify">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</p>
            </div>
        </div>                    
    </div>
</div>