
<!-- Otros servicios -->
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-5 my-3">
    <h3 class="mb-4 text-black-50 mx-3">Además le ofrecemos:</h3>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex flex-row align-items-start px-0">
        <div class="d-flex flex-column align-items-center">
            <img src="imagenes/iconoContacto_1.png" class="img-fluid icono pb-3">
            <div class="mx-3">
                <h6 class="mb-0 text-uppercase"><small class="font-weight-bold">Servicio de asistencia:</small></h6>
                <p class="mb-2 text-secondary text-justify">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</p>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <img src="imagenes/iconoContacto_2.png" class="img-fluid icono pb-3">
            <div class="mx-3">
                <h6 class="mb-0 text-uppercase"><small class="font-weight-bold">Trámites con su aseguradora:</small></h6>
                <p class="mb-2 text-secondary text-justify">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</p>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <img src="imagenes/iconoContacto_3.png" class="img-fluid icono pb-3">
            <div class="mx-3">
                <h6 class="mb-0 text-uppercase"><small class="font-weight-bold">Calidad en cada trabajo:</small></h6>
                <p class="mb-2 text-secondary text-justify">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</p>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <img src="imagenes/iconoContacto_4.png" class="img-fluid icono pb-3">
            <div class="mx-3">
                <h6 class="mb-0 text-uppercase"><small class="font-weight-bold">Personal especializado:</small></h6>
                <p class="mb-2 text-secondary text-justify">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</p>
            </div>
        </div>
    </div>
</div>