
<!-- Cualidades de la empresa -->
<div class="row justify-content-center border-secondary-50 border-top mt-5">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h4 class="pt-4 text-center" data-aos="fade-right" data-aos-duration="2000">¿Por qué deben elegirnos?</h4>
        <p class="text-secondary text-center mb-4" data-aos="fade-left" data-aos-duration="2000">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra</p>
    </div>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center align-items-center" data-aos="zoom-in-up" data-aos-duration="2000">                
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center">
            <img src="imagenes/tools_2.100.png" class="iconos">
            <p class="mt-3 text-center text-uppercase"><strong>Lorem ipsum dolor</strong></p>
            <p class="text-center"><small>Quisque eu elit nulla. Vivamus vel urna eget urna fringilla hendrerit. Mauris a augue enim. Praesent pulvinar fermentum accumsan</small></p>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center">
            <img src="imagenes/car_2.100.png" class="iconos">
            <p class="mt-3 text-center text-uppercase"><strong>Lorem ipsum dolor</strong></p>
            <p class="text-center"><small>Quisque eu elit nulla. Vivamus vel urna eget urna fringilla hendrerit. Mauris a augue enim. Praesent pulvinar fermentum accumsan</small></p>
        </div> 
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center">
            <img src="imagenes/battery_2.100.png" class="iconos">
            <p class="mt-3 text-center text-uppercase"><strong>Lorem ipsum dolor</strong></p>
            <p class="text-center"><small>Quisque eu elit nulla. Vivamus vel urna eget urna fringilla hendrerit. Mauris a augue enim. Praesent pulvinar fermentum accumsan</small></p>
        </div> 
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center">
            <img src="imagenes/deal_2.100.png" class="iconos">
            <p class="mt-3 text-center text-uppercase"><strong>Lorem ipsum dolor</strong></p>
            <p class="text-center"><small>Quisque eu elit nulla. Vivamus vel urna eget urna fringilla hendrerit. Mauris a augue enim. Praesent pulvinar fermentum accumsan</small></p>
        </div>                                        
    </div>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center align-items-center">                    
        <a href="nosotros.php" class="btn btn-primary my-4" role="button" aria-pressed="true">Ir&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
    </div>
</div>