
<!-- Encabezado -->
<div class="row justify-content-between align-items-center p-3">                                    
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img src="imagenes/logoTaller_1.png" class="img-fluid w-50" alt="Logo taller">                                                
    </div>                    
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-flex flex-row justify-content-center align-items-center" style="color: cornflowerblue">
        <i class="iconHeader bi bi-headset mr-3"></i>
        <p class="mb-0">Línea gratuita:<br>800-1234-5678</p>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-flex flex-row justify-content-center align-items-center" style="color: cornflowerblue">
        <i class="iconHeader bi bi-calendar3 mr-3"></i>                            
        <p class="mb-0">Lunes a sábado<br>7:30a.m. - 5:30p.m.</p>
    </div>
</div>