
<!-- Enlaces a las páginas del sitio web -->
<div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <h5 class="h5 mb-3 text-white text-left font-weight-bold">Nuestra empresa:</h5>

    <div class="list-group list-group-flush">

        <a href="/" class="list-group-item text-white text-decoration-none bg-secondary border-0 py-1 px-0"><i class="bi bi-house-fill text-white mr-2"></i>Inicio</a>
        
        <a href="/nosotros" class="list-group-item text-white text-decoration-none bg-secondary border-0 py-1 px-0"><i class="bi bi-people-fill text-white mr-2"></i>Quienes somos</a>
        
        <a href="/servicios" class="list-group-item text-white text-decoration-none bg-secondary border-0 py-1 px-0"><i class="bi bi-tools text-white mr-2"></i>Nuestros servicios</a>
        
        <a href="/noticias" class="list-group-item text-white text-decoration-none bg-secondary border-0 py-1 px-0"><i class="bi bi-pencil-square text-white mr-2"></i>Noticias</a>
        
        <a href="/contacto" class="list-group-item text-white text-decoration-none bg-secondary border-0 py-1 px-0"><i class="bi bi-envelope-open-fill text-white mr-2"></i>Contáctenos</a>

    </div>
    
</div>