
<!-- Sección de noticias -->
<div class="noticias container-fluid bg-light">
    <div class="row justify-content-center border-secondary-50 border-top py-5">
        <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-7 text-center">
            <h2 class="mb-0 pb-4" data-aos="fade-right" data-aos-duration="2000">Noticias recientes</h2>
            <p class="text-secondary" data-aos="fade-left" data-aos-duration="2000">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sitamet metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra</p>
        </div>
    </div>
    
    <div class="row pb-5 justify-content-around">
        <div class="card">
            <img src="imagenes/imgNoticias_1.jpg" class="img-fluid card-img-top rounded-lg pt-3 px-3" alt="imagen noticia">
            <div class="card-body">
                <p class="card-text mb-0 pb-2 text-secondary border-bottom border-dark-50"><small><strong>Publicado en:</strong> marzo 20, 2020</small><i class="bi bi-grip-vertical ml-1 mr-1"></i><small><strong>Escrito por:</strong> Charles</small><i class="bi bi-grip-vertical ml-1 mr-1"></i><small><strong>Fuente:</strong> Revista Mecánica</small></p>                                
                <h5 class="card-title pt-2">¿Cuándo es el ideal tiempo para cambiar sus llantas?</h5>
                <p class="card-text"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in massa et lectus condimentum rhoncus at in nulla. Phasellus non hendrerit libero. Praesent rutrum ante mauris, sagittis sodales ipsum ullamcorper eget. Duis placerat est ut dui ultrices pellentesque. Suspendisse id nunc id nisl sollicitudin aliquam. Nulla vestibulum gravida odio, ut placerat quam ullamcorper non. Cras feugiat aliquet varius...</small></p>
                <a href="/noticias" class="btn btn-primary mt-3" role="button" aria-pressed="true">Ver más<i class="bi bi-arrow-right ml-3"></i></a>
            </div>
        </div>

        <div class="card">
            <img src="imagenes/imgNoticias_2.jpg" class="img-fluid card-img-top rounded-lg pt-3 px-3" alt="imagen noticia">
            <div class="card-body">
                <p class="card-text mb-0 pb-2 text-secondary border-bottom border-dark-50"><small><strong>Publicado en:</strong> marzo 20, 2020</small><i class="bi bi-grip-vertical ml-1 mr-1"></i><small><strong>Escrito por:</strong> Charles</small><i class="bi bi-grip-vertical ml-1 mr-1"></i><small><strong>Fuente:</strong> Revista Mecánica</small></p>                                                                
                <h5 class="card-title pt-2">Piezas que deben reemplazarse y a qué intervalos</h5>
                <p class="card-text"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in massa et lectus condimentum rhoncus at in nulla. Phasellus non hendrerit libero. Praesent rutrum ante mauris, sagittis sodales ipsum ullamcorper eget. Duis placerat est ut dui ultrices pellentesque. Suspendisse id nunc id nisl sollicitudin aliquam. Nulla vestibulum gravida odio, ut placerat quam ullamcorper non. Cras feugiat aliquet varius...</small></p>
                <a href="/noticias" class="btn btn-primary mt-3" role="button" aria-pressed="true">Ver más<i class="bi bi-arrow-right ml-3"></i></a>
            </div>
        </div>

        <div class="card">
            <img src="imagenes/imgNoticias_3.jpg" class="img-fluid card-img-top rounded-lg pt-3 px-3" alt="imagen noticia">
            <div class="card-body">
                <p class="card-text mb-0 pb-2 text-secondary border-bottom border-dark-50"><small><strong>Publicado en:</strong> marzo 20, 2020</small><i class="bi bi-grip-vertical ml-1 mr-1"></i><small><strong>Escrito por:</strong> Mary</small><i class="bi bi-grip-vertical ml-1 mr-1"></i><small><strong>Fuente:</strong> Revista Mecánica</small></p>                                                                
                <h5 class="card-title pt-2">Consejos de seguridad para conducir en el verano</h5>
                <p class="card-text"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in massa et lectus condimentum rhoncus at in nulla. Phasellus non hendrerit libero. Praesent rutrum ante mauris, sagittis sodales ipsum ullamcorper eget. Duis placerat est ut dui ultrices pellentesque. Suspendisse id nunc id nisl sollicitudin aliquam. Nulla vestibulum gravida odio, ut placerat quam ullamcorper non. Cras feugiat aliquet varius...</small></p>
                <a href="/noticias" class="btn btn-primary mt-3" role="button" aria-pressed="true">Ver más<i class="bi bi-arrow-right ml-3"></i></a>
            </div>
        </div>
    </div>
</div>