
<!-- Servicios ofrecidos -->    
<div class="servicios container-fluid bg-light">
    <div class="row justify-content-center border-secondary-50 border-top py-5"> 
        <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-7 text-center">
            <h2 class="mb-0 pb-4" data-aos="fade-left" data-aos-duration="2000">Nuestros servicios</h2>
            <p class="text-secondary" data-aos="fade-right" data-aos-duration="2000">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sitamet metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra</p>
        </div>
    </div>

    <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="2000">
        <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                <img src="imagenes/iconoInicio_05.png" class="img-fluid icono mr-3">                                                                
                <div>
                    <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                    <p class="mb-1 text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                </div>
            </div>                    
        </div> 
        <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                <img src="imagenes/iconoInicio_06.png" class="img-fluid icono mr-3">
                <div>
                    <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                    <p class="mb-1 text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                </div>
            </div>                    
        </div>
    </div>
    <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="2000">                 
        <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                <img src="imagenes/iconoInicio_07.png" class="img-fluid icono mr-3">
                <div>
                    <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                    <p class="mb-1 text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                </div>
            </div>                    
        </div> 
        <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                <img src="imagenes/iconoInicio_08.png" class="img-fluid icono mr-3">
                <div>
                    <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                    <p class="mb-1 text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                </div>
            </div>                    
        </div> 
    </div>
    <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="2000">        
        <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                <img src="imagenes/iconoInicio_09.png" class="img-fluid icono mr-3">
                <div>
                    <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                    <p class="mb-1 text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                </div>
            </div>                    
        </div> 
        <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 mb-3">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                <img src="imagenes/iconoInicio_10.png" class="img-fluid icono mr-3">
                <div>
                    <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                    <p class="mb-1 text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                </div>
            </div>                    
        </div> 
    </div>
    
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center pb-4">
        <a href="/servicios" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Ver más<i class="bi bi-arrow-right ml-3"></i></a>
    </div>                
</div>