
<!-- Enlace de acceso a formulario para citas -->
<div class="container-fluid">
    <div class="row justify-content-center border-secondary-50 border-top py-5">
        <div class="text-center mb-4">
            <img src="imagenes/iconoInicio_11.png" class="img-fluid w-75" alt=""/>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <h3 class="mb-4" data-aos="fade-left" data-aos-duration="2000">Programa en línea una cita con nosotros</h3>
            <p class="mb-4 text-secondary" data-aos="fade-right" data-aos-duration="2000">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sitamet<br>metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra</p>
        </div>                                        
        <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
            <a href="/contacto" class="btn btn-primary btn-lg mt-4" role="button" aria-pressed="true">Ver más<i class="bi bi-arrow-right ml-3"></i></a>
        </div> 
    </div>
</div>