
<!-- Enlace a formulario para citas -->
<div class="cita container-fluid">
    <div class="row justify-content-center border-secondary-50 border-top py-5">
        <div class="text-center">
            <img src="imagenes/iconoInicio_11.png" class="img-fluid w-75" alt=""/>
        </div>
    </div>
    <div class="row mb-5 justify-content-center">                    
        <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-7 text-center">
            <h2 class="mb-0 pb-4" data-aos="fade-left" data-aos-duration="2000">Programa en línea una cita con nosotros</h2>
            <p class="text-secondary" data-aos="fade-right" data-aos-duration="2000">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sitamet metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra</p>
        </div> 
    </div>  
    
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center mb-4">
        <a href="/contacto" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Ver más<i class="bi bi-arrow-right ml-3"></i></a>
    </div> 
</div>