
<!-- Servicios de la empresa -->    
<div class="container-fluid">                      
    <div class="row flex-column justify-content-center border-secondary-50 border-top py-5 bg-light"> 
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center servicios">
            <h3 class="mb-4" data-aos="fade-left" data-aos-duration="2000">Nuestros servicios</h3>
            <p class="mb-4 text-secondary" data-aos="fade-right" data-aos-duration="2000">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sitamet<br>metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra</p>
        </div>                          
        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="2000">                 
            <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
                <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                    <img src="imagenes/iconoInicio_05.png" class="img-fluid icono mr-3">                                                                
                    <div>
                        <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                        <p class="text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                    </div>
                </div>                    
            </div> 
            <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
                <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                    <img src="imagenes/iconoInicio_06.png" class="img-fluid icono mr-3">
                    <div>
                        <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                        <p class="text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                    </div>
                </div>                    
            </div>
        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="2000">                 
            <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
                <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                    <img src="imagenes/iconoInicio_07.png" class="img-fluid icono mr-3">
                    <div>
                        <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                        <p class="text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                    </div>
                </div>                    
            </div> 
            <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
                <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                    <img src="imagenes/iconoInicio_08.png" class="img-fluid icono mr-3">
                    <div>
                        <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                        <p class="text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                    </div>
                </div>                    
            </div> 
        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="2000">        
            <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
                <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                    <img src="imagenes/iconoInicio_09.png" class="img-fluid icono mr-3">
                    <div>
                        <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                        <p class="text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                    </div>
                </div>                    
            </div> 
            <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
                <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-3 my-3">
                    <img src="imagenes/iconoInicio_10.png" class="img-fluid icono mr-3">
                    <div>
                        <h6 class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:</h6>
                        <p class="text-secondary"><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
                    </div>
                </div>                    
            </div> 
        </div>                    
        <div class="row col-11 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center mx-0">
            <a href="/servicios" class="btn btn-primary btn-lg mt-4" role="button" aria-pressed="true">Ver más<i class="bi bi-arrow-right ml-3"></i></a>
        </div> 
    </div>
</div>