
<!-- Estructura del mensaje de confirmación -->

<div class="container py-5">
    <div class="row justify-content-center py-4">
        <i class="bi bi-x-circle" style="font-size: 5rem; color:red"></i>
    </div>
    <div class="row justify-content-center py-4">
        <h1 class="mb-0">Su solicitud de servicio no pudo ser enviado</h1>
    </div>
    <div class="row justify-content-center pb-5">
        <h6 class="mb-0">Revisa tu conexión a internet y vuelve a enviar tu solicitud</h6>
    </div>        
    <div class="row justify-content-center py-4">
        <img src="imagenes/LogoTaller_1.png" class="img-fluid" width="275" alt="Logo taller">                
    </div>
    <div class="row justify-content-center py-4">
        <a href="/contacto" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Volver a inicio</a>
    </div> 
    <div class="row justify-content-around mt-5 border-bottom border-top border-secondary">    
        <div class="my-2">                
            <a href="#" target="_blank"><i class="bi bi-facebook text-primary" style="font-size: 2rem; color:black"></i></a>
        </div>                
        <div class="my-2">                
            <a href="#" target="_blank"><i class="bi bi-whatsapp text-success" style="font-size: 2rem; color:black"></i></a>
        </div>
        <div class="my-2">                
            <a href="#" target="_blank"><i class="bi bi-instagram text-danger" style="font-size: 2rem; color:black"></i></a>
        </div>
        <div class="my-2">                
            <a href="#" target="_blank"><i class="bi bi-youtube text-danger" style="font-size: 2rem; color:black"></i></a>
        </div>    
    </div>
</div>