
<div class="row justify-content-center py-4">
    <i class="bi bi-check-circle" style="font-size: 5rem; color:green"></i>
</div>
<div class="row justify-content-center py-4">
    <h1 class="mb-0">Su solicitud de servicio fue enviada con éxito</h1>
</div>
<div class="row justify-content-center pb-5">
    <h5 class="mb-0">Nos pondremos en contacto con usted a la mayor brevedad posible</h5>
</div>        
<div class="row justify-content-center py-4">
    <img src="imagenes/LogoTaller_3.png" class="img-fluid" width="275" alt="Logo taller">                
</div>
<div class="row justify-content-center py-4">
    <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Volver a inicio</a>
</div> 
<div class="row justify-content-around mt-5 border-bottom border-top border-secondary">    
    <div class="my-2">                
        <a href="#" target="_blank"><i class="bi bi-facebook text-primary" style="font-size: 2rem; color:black"></i></a>
    </div>                
    <div class="my-2">                
        <a href="#" target="_blank"><i class="bi bi-whatsapp text-success" style="font-size: 2rem; color:black"></i></a>
    </div>
    <div class="my-2">                
        <a href="#" target="_blank"><i class="bi bi-instagram text-danger" style="font-size: 2rem; color:black"></i></a>
    </div>
    <div class="my-2">                
        <a href="#" target="_blank"><i class="bi bi-youtube text-danger" style="font-size: 2rem; color:black"></i></a>
    </div>    
</div>