
<!-- Menú de navegación -->
<div class="row justify-content-around align-items-center border-bottom border-white bg-secondary p-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 px-0">
        <nav class="navbar navbar-dark px-0">
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 d-flex flex-row justify-content-around align-items-center px-0">
                <h3 class="mb-0 text-white">Visite nuestro sitio web y conozcanos más de cerca</h3>
            </div>                    
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-row justify-content-end align-items-center px-0">
                <button id="btnMenu" class="navbar-toggler text-white border-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="fa-solid fa-bars text-white"></i></span>
                </button>
            </div>
        </nav>
    </div>                    
</div>

<div class="row bg-secondary">
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul id="menu" class="menu nav justify-content-around p-2">
            <li class="nav-item rounded-pill" id="item_1" onmouseover="ResaltarOpcion('item_1', 'maroon');" onmouseout="noResaltarOpcion('item_1', 'transparent')">
                <a class="nav-link text-white" href="/"><i class="iconNav bi bi-house-fill text-white mr-3"></i>Inicio</a>
            </li>
            <li class="nav-item rounded-pill" id="item_2" onmouseover="ResaltarOpcion('item_2', 'maroon');" onmouseout="noResaltarOpcion('item_2', 'transparent')">
                <a class="nav-link text-white" href="/nosotros"><i class="iconNav bi bi-people-fill text-white mr-3"></i>Quienes somos</a>
            </li>
            <li class="nav-item rounded-pill" id="item_3" onmouseover="ResaltarOpcion('item_3', 'maroon');" onmouseout="noResaltarOpcion('item_3', 'transparent')">
                <a class="nav-link text-white" href="/servicios"><i class="iconNav bi bi-tools text-white mr-3"></i>Nuestros servicios</a>
            </li>
            <li class="nav-item rounded-pill" id="item_4" onmouseover="ResaltarOpcion('item_4', 'maroon');" onmouseout="noResaltarOpcion('item_4', 'transparent')">
                <a class="nav-link text-white" href="/noticias"><i class="iconNav bi bi-pencil-square text-white mr-3"></i>Noticias</a>
            </li>
            <li class="nav-item rounded-pill" id="item_5" onmouseover="ResaltarOpcion('item_5', 'maroon');" onmouseout="noResaltarOpcion('item_5', 'transparent')">
                <a class="nav-link text-white" href="/contacto"><i class="iconNav bi bi-envelope-open-fill text-white mr-3"></i>Contacto</a>
            </li>
        </ul>
    </div>
</div>