
<!-- Menú de navegación -->
<nav class="navbar navbar-dark bg-secondary py-4">
    <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 d-flex flex-row justify-content-center align-items-center">
        <h3 class="mb-0 text-white">Visítenos y conozca más de cerca nuestra empresa<i class="fa-solid fa-hand-point-right text-white ml-3"></i></h3>
    </div>                    
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-row justify-content-end align-items-center px-0">
        <button id="btnMenu" class="btnMenu navbar-toggler text-white border-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="icono fa-solid fa-bars text-white"></i></span>
        </button>
    </div>
</nav>

<div class="collapse border-top border-dark-50" id="navbarToggleExternalContent">                            
    <div class="bg-secondary p-4">
        <ul id="menu" class="menu nav nav-fill">
            <li class="nav-item rounded-pill" id="item_1" onmouseover="ResaltarOpcion('item_1', 'maroon');" onmouseout="noResaltarOpcion('item_1', 'transparent')">
                <a class="nav-link text-white" href="/"><i class="iconNav bi bi-house-fill text-white mr-3" style="font-size: 1.25rem;"></i>Inicio</a>
            </li>
            <li class="nav-item rounded-pill" id="item_2" onmouseover="ResaltarOpcion('item_2', 'maroon');" onmouseout="noResaltarOpcion('item_2', 'transparent')">
                <a class="nav-link text-white" href="/nosotros"><i class="iconNav bi bi-people-fill text-white mr-3" style="font-size: 1.25rem;"></i>Quienes somos</a>
            </li>
            <li class="nav-item rounded-pill" id="item_3" onmouseover="ResaltarOpcion('item_3', 'maroon');" onmouseout="noResaltarOpcion('item_3', 'transparent')">
                <a class="nav-link text-white" href="/servicios"><i class="iconNav bi bi-tools text-white mr-3" style="font-size: 1.25rem;"></i>Nuestros servicios</a>
            </li>
            <li class="nav-item rounded-pill" id="item_4" onmouseover="ResaltarOpcion('item_4', 'maroon');" onmouseout="noResaltarOpcion('item_4', 'transparent')">
                <a class="nav-link text-white" href="/noticias"><i class="iconNav bi bi-pencil-square text-white mr-3" style="font-size: 1.25rem;"></i>Noticias</a>
            </li>
            <li class="nav-item rounded-pill" id="item_5" onmouseover="ResaltarOpcion('item_5', 'maroon');" onmouseout="noResaltarOpcion('item_5', 'transparent')">
                <a class="nav-link text-white" href="/contacto"><i class="iconNav bi bi-envelope-open-fill text-white mr-3" style="font-size: 1.25rem;"></i>Contáctenos</a>
            </li>
        </ul>                        
    </div>
</div> 