
<!-- Equipo de trabajo -->
<div class="row align-items-center bg-light mx-3">
    <h2 class="mb-0 ml-3 text-black-50 py-3">Nuestro equipo de trabajo</h2>                    
</div> 

<div class="container-fluid my-4">
    <div class="row justify-content-around">
        <div class="card col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 border-secondary m-2 p-2">
            <img src="imagenes/imgPersonal_1.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body px-2">
                <h5 class="card-title">Jonathan</h5>
                <h6 class="card-title text-danger">Mecánico</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer border border-dark-50 px-2">                            
                <div>
                    <p class="mb-0 text-muted mr-2"><small>Puedes contactarlo por:</small></p>
                </div>
                <button id="wtpp" class="border-0 bg-transparent" data-toggle="tooltip" title="(+506) 8888-2222"><i class="bi bi-whatsapp text-secondary"></i></button>
                <button id="fb" class="border-0 bg-transparent" data-toggle="tooltip" title="mecanico_jonathan"><i class="bi bi-facebook text-secondary"></i></button>
                <button id="xtw" class="border-0 bg-transparent" data-toggle="tooltip" title="#mecanicojonathan"><i class="fa-brands fa-x-twitter"></i></button>
                <button id="mail" class="border-0 bg-transparent" data-toggle="tooltip" title="mecanicojonathan@mail.com"><i class="bi bi-envelope-fill text-secondary"></i></button>                                                        
            </div>
        </div>
        <div class="card col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 border-secondary m-2 p-2">
            <img src="imagenes/imgPersonal_2.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body px-2">
                <h5 class="card-title">Michael</h5>
                <h6 class="card-title text-danger">Mecánico</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer border border-dark-50 px-2">
                <div>
                    <p class="mb-0 text-muted mr-2"><small>Puedes contactarlo por:</small></p>
                </div>
                <button id="wtpp" class="border-0 bg-transparent" data-toggle="tooltip" title="(+506) 8888-3333"><i class="bi bi-whatsapp text-secondary"></i></button>
                <button id="fb" class="border-0 bg-transparent" data-toggle="tooltip" title="mecanico_michael"><i class="bi bi-facebook text-secondary"></i></button>
                <button id="xtw" class="border-0 bg-transparent" data-toggle="tooltip" title="#mecanicomichael"><i class="fa-brands fa-x-twitter"></i></button>
                <button id="mail" class="border-0 bg-transparent" data-toggle="tooltip" title="mecanicomichael@mail.com"><i class="bi bi-envelope-fill text-secondary"></i></button>
            </div>
        </div>
        <div class="card col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 border-secondary m-2 p-2">
            <img src="imagenes/imgPersonal_3.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body px-2">
                <h5 class="card-title">Mónica</h5>
                <h6 class="card-title text-danger">Servicio al cliente</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer border border-dark-50 px-2">
                <div>
                    <p class="mb-0 text-muted mr-2"><small>Puedes contactarlo por:</small></p>
                </div>
                <button id="wtpp" class="border-0 bg-transparent" data-toggle="tooltip" title="(+506) 8888-4444"><i class="bi bi-whatsapp text-secondary"></i></button>
                <button id="fb" class="border-0 bg-transparent" data-toggle="tooltip" title="callcenter_monica"><i class="bi bi-facebook text-secondary"></i></button>
                <button id="xtw" class="border-0 bg-transparent" data-toggle="tooltip" title="#callcenter_monica"><i class="fa-brands fa-x-twitter"></i></button>
                <button id="mail" class="border-0 bg-transparent" data-toggle="tooltip" title="callcenter_monica@mail.com"><i class="bi bi-envelope-fill text-secondary"></i></button>
            </div>
        </div>
        <div class="card col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 border-secondary m-2 p-2">
            <img src="imagenes/imgPersonal_4.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body px-2">
                <h5 class="card-title">Jennifer</h5>
                <h6 class="card-title text-danger">Servicio al cliente</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer border border-dark-50 px-2">
                <div>
                    <p class="mb-0 text-muted mr-2"><small>Puedes contactarlo por:</small></p>
                </div>
                <button id="wtpp" class="border-0 bg-transparent" data-toggle="tooltip" title="(+506) 8888-5555"><i class="bi bi-whatsapp text-secondary"></i></button>
                <button id="fb" class="border-0 bg-transparent" data-toggle="tooltip" title="callcenter_jennifer"><i class="bi bi-facebook text-secondary"></i></button>
                <button id="xtw" class="border-0 bg-transparent" data-toggle="tooltip" title="#callcenter_jennifer"><i class="fa-brands fa-x-twitter"></i></button>
                <button id="mail" class="border-0 bg-transparent" data-toggle="tooltip" title="callcenter_jennifer@mail.com"><i class="bi bi-envelope-fill text-secondary"></i></button>
            </div>
        </div>
        <div class="card col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 border-secondary m-2 p-2">
            <img src="imagenes/imgPersonal_5.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body px-2">
                <h5 class="card-title">Charles</h5>
                <h6 class="card-title text-danger">Gerente</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer border border-dark-50 px-2">
                <div>
                    <p class="mb-0 text-muted mr-2"><small>Puedes contactarlo por:</small></p>
                </div>
                <button id="wtpp" class="border-0 bg-transparent" data-toggle="tooltip" title="(+506) 8888-6666"><i class="bi bi-whatsapp text-secondary"></i></button>
                <button id="fb" class="border-0 bg-transparent" data-toggle="tooltip" title="gerencia_charles"><i class="bi bi-facebook text-secondary"></i></button>
                <button id="xtw" class="border-0 bg-transparent" data-toggle="tooltip" title="#gerencia_charles"><i class="fa-brands fa-x-twitter"></i></button>
                <button id="mail" class="border-0 bg-transparent" data-toggle="tooltip" title="gerencia_charles@mail.com"><i class="bi bi-envelope-fill text-secondary"></i></button>
            </div>
        </div>
        <div class="card col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 border-secondary m-2 p-2">
            <img src="imagenes/imgPersonal_6.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body px-2">
                <h5 class="card-title">Mary</h5>
                <h6 class="card-title text-danger">Gerente</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer border border-dark-50 px-2">
                <div>
                    <p class="mb-0 text-muted mr-2"><small>Puedes contactarlo por:</small></p>
                </div>
                <button id="wtpp" class="border-0 bg-transparent" data-toggle="tooltip" title="(+506) 8888-7777"><i class="bi bi-whatsapp text-secondary"></i></button>
                <button id="fb" class="border-0 bg-transparent" data-toggle="tooltip" title="gerencia_mary"><i class="bi bi-facebook text-secondary"></i></button>
                <button id="xtw" class="border-0 bg-transparent" data-toggle="tooltip" title="#gerencia_mary"><i class="fa-brands fa-x-twitter"></i></button>
                <button id="mail" class="border-0 bg-transparent" data-toggle="tooltip" title="gerencia_mary@mail.com"><i class="bi bi-envelope-fill text-secondary"></i></button>
            </div>
        </div>                
    </div>
</div>