
<!-- Galeria de imágenes -->
<div class="row m-3 galeria"> 
    <div class="col-11 col-sm-6 col-md-6 col-lg-5 col-xl-5 mx-auto mb-3">
        <img src="imagenes/imgNosotros_1.jpg" class="img-fluid img-thumbnail p-2 border-secondary-50 mx-auto d-block rounded-lg" alt="foto equipo de trabajo">                    
    </div>                
    <div class="col-11 col-sm-6 col-md-6 col-lg-5 col-xl-5 mx-auto mb-3">                    
        <img src="imagenes/imgNosotros_2.jpg" class="img-fluid img-thumbnail p-2 border-secondary-50 mx-auto d-block rounded-lg" alt="foto equipo de trabajo">
    </div>
    <div class="col-11 col-sm-6 col-md-6 col-lg-5 col-xl-5 mx-auto mb-3">                    
        <img src="imagenes/imgNosotros_3.jpg" class="img-fluid img-thumbnail p-2 border-secondary-50 mx-auto d-block rounded-lg" alt="foto equipo de trabajo">
    </div>
    <div class="col-11 col-sm-6 col-md-6 col-lg-5 col-xl-5 mx-auto mb-3">                    
        <img src="imagenes/imgCallCenter_1.jpg" class="img-fluid img-thumbnail p-2 border-secondary-50 mx-auto d-block rounded-lg" alt="foto equipo de trabajo">                    
    </div>
</div>