
<!-- Título -->            
<div class="text-center">
    <h1 class="titulo text-black-50 my-4 display-4 font-weight-bold">La actualidad en el mundo automotriz</h1>
    <div style="width: 100%;border-bottom: 0.25rem solid #a41313;"></div>
</div>    