
<!-- Servicios ofrecidos -->
<div class="row flex-column justify-content-center bg-light"> 
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mb-4">
        <h4 class="pt-4" data-aos="fade-left" data-aos-duration="2000">Nuestros servicios</h4>
        <p class="text-secondary text-center" data-aos="fade-right" data-aos-duration="2000">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra</p>
    </div>                          
    <div class="row d-flex justify-content-center" data-aos="fade-up" data-aos-duration="2000">                 
        <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-2 mb-3">
                <img src="imagenes/tires_2.100.png" class="icono">&nbsp;&nbsp;&nbsp;&nbsp;                
                <p class="text-secondary"><span class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:<br></span><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
            </div>                    
        </div> 
        <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-2 mb-3">
                <img src="imagenes/wrench_2.100.png" class="icono">&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="text-secondary"><span class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:<br></span><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
            </div>                    
        </div>
    </div>
    <div class="row d-flex justify-content-center" data-aos="fade-up" data-aos-duration="2000">                 
        <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-2 mb-3">
                <img src="imagenes/airbrush_2.100.png" class="icono">&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="text-secondary"><span class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:<br></span><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
            </div>                    
        </div> 
        <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-2 mb-3">
                <img src="imagenes/fuel_2.100.png" class="icono">&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="text-secondary"><span class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:<br></span><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
            </div>                    
        </div> 
    </div>
    <div class="row d-flex justify-content-center pb-4" data-aos="fade-up" data-aos-duration="2000">        
        <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-2 mb-3">
                <img src="imagenes/tablet_2.100.png" class="icono">&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="text-secondary"><span class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:<br></span><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
            </div>                    
        </div> 
        <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <div class="d-flex flex-row align-items-center border border-primary rounded-lg bg-white p-2 mb-3">
                <img src="imagenes/airConditioner_2.100.png" class="icono">&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="text-secondary"><span class="font-weight-bold text-uppercase">Lorem ipsum dolor sit amet:<br></span><small>Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae.</small></p>
            </div>                    
        </div> 
    </div>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
        <a href="servicios.php" class="btn btn-primary my-4" role="button" aria-pressed="true">Ir&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
    </div>    
</div>