
<!-- Información del servicio #2 -->
<div class="row justify-content-center border-dark-50 border-top"> 
    <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6 d-flex align-items-center py-4">
        <img src="imagenes/imgServicios_2.jpg" class="img-fluid mx-auto d-block w-100 rounded-lg p-2 border border-secondary">
    </div>                                        
    <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6">
        <div>
            <h3 class="text-center text-black-50 mt-3">Proin pulvinar, lacus eu condimentum convallis</h3>                        

            <p class="mb-1">Proin pulvinar, lacus eu condimentum convallis, odio orci imperdiet mi, consectetur semper quam urna quis libero. Duis dapibus ligula augue, id volutpat lorem cursus accumsan. Duis egestas accumsan vestibulum. Aenean quis posuere turpis, vitae feugiat mauris. Aenean vitae sem pharetra, eleifend diam eu, hendrerit metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus in felis facilisis vulputate non at felis. Morbi tincidunt id purus id hendrerit. 
                Aenean varius, nunc ac tempus aliquet:</p>

            <ul class="list-unstyled">
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Ut auctor sapien</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Vel semper tortor pharetra</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Fusce pulvinar lobortis nisi</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Donec pulvinar est quis</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Est ultricies commodo</li>                            
            </ul>
        </div>                    
    </div>                    
</div>