
<!-- Información del servicio #4 -->
<div class="row justify-content-center border-dark-50 border-top">   
    <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6 d-flex align-items-center">
        <img src="imagenes/imgServicios_4.jpg" class="img-fluid mx-auto d-block rounded-lg">
    </div> 
    <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6">
        <div>
            <h3 class="pb-2 text-center text-black-50">Interdum eleifend nunc, in auctor mi interdum ac</h3>                        

            <p>Duis interdum eleifend nunc, in auctor mi interdum ac. Phasellus vitae dui mattis, egestas ante eget, cursus mi. Aenean porta congue dui ut ultricies. Cras consectetur ante sit amet finibus feugiat. Pellentesque tempor ante eget augue viverra dapibus vel vitae elit. Cras quis urna felis. Praesent bibendum non erat ut euismod. Fusce vel ipsum vel libero elementum tempus vel nec nisi. Integer in pharetra ligula. Sed at ligula purus. Mauris id magna vel leo imperdiet ultrices tristique eget eros. Etiam id metus in felis facilisis vulputate non at felis. 
                Morbi tincidunt id purus id hendrerit:</p>

            <ul class="list-unstyled">
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Ut auctor sapien</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Vel semper tortor pharetra</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Fusce pulvinar lobortis nisi</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Donec pulvinar est quis</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Est ultricies commodo</li>                            
            </ul>
        </div>                    
    </div>                                              
</div>