
<!-- Información del servicio #6 -->
<div class="row justify-content-center border-dark-50 border-top">   
    <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6 d-flex align-items-center py-4">
        <img src="imagenes/imgServicios_6.jpg" class="img-fluid mx-auto d-block w-100 rounded-lg p-2 border border-secondary">
    </div>  
    <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6">
        <div>
            <h3 class="text-center text-black-50 mt-3">Quisque ac dictum augue. Integer non tempus felis</h3>                        

            <p class="mb-1">Quisque ac dictum augue. Integer non tempus felis, id bibendum tellus. Maecenas suscipit convallis malesuada. Aliquam nec dui a sapien rutrum iaculis vel sed elit. Donec cursus vehicula mauris vitae sollicitudin. Phasellus vulputate, diam quis pulvinar interdum, est massa placerat ligula, nec posuere felis enim ac purus. Praesent pellentesque metus est, a tincidunt erat venenatis non. Integer eros nisl, fringilla sed vehicula eget, consectetur vel ligula. Morbi sagittis tincidunt neque, commodo vulputate ante commodo sit amet. In venenatis lacus quam, ac elementum mauris ultrices eu. 
                Phasellus dictum eget nunc et auctor:</p>

            <ul class="list-unstyled">
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Ut auctor sapien</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Vel semper tortor pharetra</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Fusce pulvinar lobortis nisi</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Donec pulvinar est quis</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Est ultricies commodo</li>                            
            </ul>
        </div>                    
    </div>                                                                                
</div>