
<!-- Información del servicio #1 -->
<div class="row justify-content-center">
    <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6 d-flex align-items-center">
        <img src="imagenes/imgServicios_1.jpg" class="img-fluid mx-auto d-block rounded-lg">
    </div>
    <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6">
        <div>
            <h3 class="pb-2 text-center text-black-50">Praesent a mauris ut tortor</h3>                        

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra. Fusce pulvinar lobortis nisi id egestas. Donec pulvinar est quis est ultricies commodo. Duis eu lorem ac metus tempus ullamcorper. Mauris semper lacus sed sapien blandit commodo. Nam sagittis sit amet sem at congue. In ac felis rhoncus, lacinia erat eu, viverra magna.
                Etiam porttitor acmi sit amet luctus:</p>

            <ul class="list-unstyled">
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Ut auctor sapien</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Vel semper tortor pharetra</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Fusce pulvinar lobortis nisi</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Donec pulvinar est quis</li>
                <li><i class="bi bi-check-lg mr-3 pb-2"></i>Est ultricies commodo</li>                            
            </ul>
        </div>                    
    </div>
</div>